@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

@layer components {
  .hover-underline {
    @apply inline-block relative text-secondary;
  }

  .hover-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #48cae4;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .hover-underline.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
